* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg-important: #1992d4;
  --clr-accent: #facc15;
  --clr-bg-secondary: #e2e8f0;
  --clr-bg-primary: #fff;
  --clr-fg-secondary: #636363;


  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  color: var(--clr-fg-secondary);
}

.container {
  height: 100vh;
  max-width: 1400px;

  display: grid;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
  grid-template-columns: minmax(250px, 1fr) 4fr; 
  grid-template-rows: 160px minmax(0,1fr);

}

.header {
  grid-area: header;
  padding: 15px 30px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 10px 20px;
}

.search-box {
  display: flex;
  gap: 1rem;
}

input[type="search"] {
  flex: 1;
  border: none;
  border-radius: 1em;
  background-color: var(--clr-bg-secondary);
  padding: 5px 12px;
}


.user-control {
  justify-self: end;

  display: flex;
  align-items: center;
  gap: 32px;

}

.icon-noti {
  width: calc(2rem * 1.2);
}

.user-control .user-name {
  font-weight: 700;
  font-size: 2rem;
}

.user-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  background-color: var(--clr-accent);

}

.user-avatar-small {
  width: 40px;
  height: 40px;
 
}

.user-avatar-main {
  width: 72px;
  height: 72px;
}

.user-greet {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-weight: 700;

  /* display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center; */

}

.greet-text {
  /* align-self: end; */
  margin-top: 1em;
}

.user-info .user-name {
  font-size: 2.4rem;
  margin-bottom: 1em;
}

.header .button-ctn {
  justify-self: end;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.btn-header {
  padding: 10px 24px;
  border-radius: 17px;
  border: none;
  background-color: var(--clr-bg-important);

  font-weight: 700;
  font-size: 1.4rem;
  color: var(--clr-bg-primary)
}

.sidebar {
  grid-area: sidebar;

  background-color: var(--clr-bg-important);
  padding: 10px;
  color: var(--clr-bg-primary);
  font-size: 2.0rem;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  gap: 3em;
}


.item__sidebar {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0.8em;
  align-items: center;
}

.sidebar img {
  filter: invert(99%) sepia(41%) saturate(0%) hue-rotate(336deg) brightness(114%) contrast(100%);
  justify-self: center;
}

.sidebar_logo {
  width: 100%;
}

.sidebar-title {
  font-size: 3.2rem;
}



.main {
  grid-area: main;
  background-color: var(--clr-bg-secondary);
  padding: 3rem 3rem 6rem 2rem;

  display: grid;
  grid-template-areas: 
    "projects annoucements"
    "projects trending"
  ;
  grid-template-columns: 3fr minmax(0, 1fr);
  grid-template-rows: minmax(0,1fr) minmax(0,1fr);;
  gap: 30px 24px;
}

.main > * {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-main {
  font-size: 1.8rem;
}
/* 
.main-item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
} */

.projects {
  grid-area: projects;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.card-project {
  background-color: var(--clr-bg-primary);
  height: 100%;
  padding: 36px 24px 28px;
  border-radius: 8px;
  border-left: 8px solid var(--clr-accent);
  font-size: 1.4rem;
  box-shadow: 2px 2px 2px 1px #c0cddf;


  display: flex;
  flex-direction: column;

}

.card-project > .title {
  font-size: 1.6rem;
}

.card-project > .body {
  line-height: 1.2;
}

.card-project .btn-ctn {
  margin-top: auto;
  align-self: end;
  display: flex;
  gap: 10px;
  
}

.card-project .body {
  text-overflow: hidden;
}

.card-btn {
  border: none;
  padding: 5px;
  background-color: inherit;
}

.card-btn > .card-btn {
   
}

.annoucements {
  grid-area: annoucements;
}

.list__annoucements {
  flex: 1 1 0;
  background-color: var(--clr-bg-primary);
  padding: 0px 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.annoucement  {
  font-size: 1.1rem;
  padding: 15px 5px;
  /* min-height: 0;
  max-height: 80px; */
  /* height: 100%; */
  /* overflow: hidden; */

  display: flex;
  flex-direction: column;
}

.annoucement:first-child {
  padding-top: 0;
}

.annoucement:last-child {
  padding-bottom: 0;
}

.annoucement + .annoucement {
  border-top: 1px solid black;
}

.annoucement > .title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.annoucement > .body {
  flex: 1 1 0;
  
  color:#777
}

.trending {
  grid-area: trending;
}
