* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-bg-important: #1992d4;
  --clr-accent: #facc15;
  --clr-bg-secondary: #e2e8f0;
  --clr-bg-primary: #fff;


  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;

  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  max-width: 1400px;
  overflow-y: hidden;

  display: grid;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
  grid-template-columns: minmax(250px, 1fr) 4fr; 
  grid-template-rows: 200px 1fr;

}

.header {
  grid-area: header;
  padding: 15px 30px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 10px 20px;
}

.search-box {
  display: flex;
  gap: 1rem;
}

input[type="search"] {
  flex: 1;
  border: none;
  border-radius: 1em;
  background-color: var(--clr-bg-secondary);
  padding: 0.5em 1.25em;
}


.user-control {
  justify-self: end;

  display: flex;
  align-items: center;
  gap: 32px;

}

.icon-noti {
  width: calc(2rem * 1.2);
}

.user-control .user-name {
  font-weight: 700;
  font-size: 2rem;
}

.user-info {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 15px;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  background-color: var(--clr-accent);

}

.user-avatar-small {
  width: 40px;
  height: 40px;
 
}

.user-avatar-main {
  width: 72px;
  height: 72px;
}

.user-greet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-weight: 700;

  /* display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center; */

}

.greet-text {
  /* align-self: end; */
  margin-top: 1em;
}

.user-info .user-name {
  font-size: 2.4rem;
  margin-bottom: 1em;
}

.button-ctn {
  justify-self: end;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.btn-header {
  padding: .5em 1.25em;
  border-radius: 16px;
  border: none;
  background-color: var(--clr-bg-important);

  font-weight: 700;
  color: var(--clr-bg-primary)
}

.sidebar {
  grid-area: sidebar;

  background-color: var(--clr-bg-important);
  padding: 10px;
  color: var(--clr-bg-primary);
  font-size: 2.0rem;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  gap: 3em;
}


.item__sidebar {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0.8em;
  align-items: center;
}

.sidebar img {
  filter: invert(99%) sepia(41%) saturate(0%) hue-rotate(336deg) brightness(114%) contrast(100%);
  justify-self: center;
}

.sidebar_logo {
  width: 100%;
}

.sidebar-title {
  font-size: 3.2rem;
}



.main {
  grid-area: main;

  background-color: var(--clr-bg-secondary);
}

